<div>
    <h1>Bienvenido al chat intergaláctico!!</h1>
    <input id="chatBox">
    <br>
    <span id="log"></span>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script> {{!-- Este import existe en node modules--}}
<script src="js/chat.js"></script>